# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.output
.nuxt

# Git and GitHub related
.git
.github
.gitignore

# Development files
.vscode
.idea
*.log
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# Test files
coverage
.nyc_output
test
tests

# Misc
README.md
LICENSE
.DS_Store
Thumbs.db 