node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
SuperAdmin-Implementation-Plan.md
SuperAdmin-Technical-Implementation.md
SuperAdmin-UI-Component-Design.md
docs
dist/
.DS_Store
.cursor/
package.json.backup